openapi: 3.1.0

info:
  title: test2 Single-Task Expert Team and DeepSeek Supervisor Action
  version: 1.7.0
  description: >-
    Web GPT owns user intent. GitHub enforces one paid task at a time, operation-level
    state, hard budget preflight, cancellation, audit, and DeepSeek technical recovery.

servers:
  - url: https://api.github.com

paths:
  /repos/a15280020511/test2/issues/15/comments:
    post:
      operationId: createOperationReceipt
      summary: Create an optional durable operation receipt
      description: >-
        Recommended before dispatch. Post compact JSON with operation_id, operation, and task label.
        The production workflow creates a server-side receipt when this call is omitted.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body:
                  type: string
      responses:
        "201":
          description: Durable receipt comment created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationReceiptComment"

  /repos/a15280020511/test2/contents/runtime_results/model_intelligence_latest.json:
    get:
      operationId: getOpenRouterModels
      summary: Read bounded current OpenRouter model intelligence
      description: >-
        Call with ref=runtime-results. Use current pricing and capability metadata when planning.
        Refresh through model_intelligence when absent or stale.
      parameters:
        - $ref: "#/components/parameters/RuntimeRef"
        - $ref: "#/components/parameters/RawAccept"
      responses:
        "200":
          description: Bounded model planning snapshot.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelIntelligenceSnapshot"
        "404":
          description: Snapshot absent; dispatch model_intelligence and track getOperationState.

  /repos/a15280020511/test2/contents/execution_plan.schema.json:
    get:
      operationId: getExecutionPlanSchema
      summary: Read the hard Execution Plan JSON Schema
      description: Read with ref=main. The runtime enforces this schema before any paid model call.
      parameters:
        - $ref: "#/components/parameters/MainRef"
        - $ref: "#/components/parameters/RawAccept"
      responses:
        "200":
          description: Execution Plan JSON Schema.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreeObject"

  /repos/a15280020511/test2/contents/DEEPSEEK_STEWARD.md:
    get:
      operationId: getDeepSeekStewardPolicy
      summary: Read the highest-level DeepSeek technical policy
      parameters:
        - $ref: "#/components/parameters/MainRef"
        - $ref: "#/components/parameters/RawAccept"
      responses:
        "200":
          description: DeepSeek policy text.
          content:
            text/plain:
              schema:
                type: string

  /repos/a15280020511/test2/contents/ACTION_RECOVERY.md:
    get:
      operationId: getActionRecoveryPolicy
      summary: Read the control, budget, cancellation, and recovery policy
      parameters:
        - $ref: "#/components/parameters/MainRef"
        - $ref: "#/components/parameters/RawAccept"
      responses:
        "200":
          description: Recovery policy text.
          content:
            text/plain:
              schema:
                type: string

  /repos/a15280020511/test2/actions/workflows/expert-team-production.yml/dispatches:
    post:
      operationId: dispatchExpertTeamOperation
      summary: Submit one budget-controlled production operation
      description: >-
        Dispatch with a unique operation_id. receipt_comment_id is optional. Poll getOperationState.
        When another task owns the lock, this operation becomes BUSY without paid model calls.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ref, inputs]
              properties:
                ref:
                  type: string
                  enum: [main]
                inputs:
                  type: object
                  required: [operation_id, operation]
                  properties:
                    operation_id:
                      type: string
                    operation:
                      type: string
                      enum: [model_intelligence, execute_team, deepseek_steward]
                    receipt_comment_id:
                      type: string
                      default: ""
                    plan_json:
                      type: string
                      default: "{}"
                      description: >-
                        Stringified plan. Default task budget is USD 1.00 with 30 percent recovery reserve.
                    ranking_limit:
                      type: string
                      default: "20"
                    steward_mode:
                      type: string
                      enum: [ASSIST, REPAIR]
                      default: ASSIST
                    support_packet_json:
                      type: string
                      default: "{}"
      responses:
        "204":
          description: Dispatch accepted; poll getOperationState for accepted, running, BUSY, or terminal state.

  /repos/a15280020511/test2/actions/workflows/cancel-operation.yml/dispatches:
    post:
      operationId: cancelExpertTeamOperation
      summary: Cancel a queued or running operation by operation_id
      description: >-
        User-directed cancellation. The server finds matching active Runs, cancels them, releases the
        single-task lock, and records cancelled. Cancellation does not trigger DeepSeek repair.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ref, inputs]
              properties:
                ref:
                  type: string
                  enum: [main]
                inputs:
                  type: object
                  required: [operation_id]
                  properties:
                    operation_id:
                      type: string
                    reason:
                      type: string
                      default: user_requested
      responses:
        "204":
          description: Cancellation workflow accepted; poll getOperationState.

  /repos/a15280020511/test2/actions/workflows/deepseek-supervisor.yml/dispatches:
    post:
      operationId: dispatchDeepSeekSupervisor
      summary: Dispatch the independent DeepSeek technical supervisor
      description: >-
        Use for technical anomalies. DeepSeek may repair code through a verified PR or produce one
        validated budget-compliant plan override. It never changes user intent.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ref, inputs]
              properties:
                ref:
                  type: string
                  enum: [main]
                inputs:
                  type: object
                  required: [operation_id, original_operation_id, failure_class, support_packet_json]
                  properties:
                    operation_id:
                      type: string
                    original_operation_id:
                      type: string
                    failed_run_id:
                      type: string
                      default: ""
                    receipt_comment_id:
                      type: string
                      default: ""
                    failure_class:
                      type: string
                    support_packet_json:
                      type: string
                    retry_dispatch_json:
                      type: string
                      default: "{}"
      responses:
        "204":
          description: Supervisor dispatch accepted.

  /repos/a15280020511/test2/contents/runtime_results/operations/{operation_id}/state.json:
    get:
      operationId: getOperationState
      summary: Read authoritative state for one operation
      description: >-
        Primary task control endpoint. States include accepted, running, repairing, retrying, BUSY,
        cancel_requested, cancelled, success, STOP, and failure.
      parameters:
        - $ref: "#/components/parameters/OperationId"
        - $ref: "#/components/parameters/RuntimeRef"
        - $ref: "#/components/parameters/RawAccept"
      responses:
        "200":
          description: Per-operation control state.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
        "404":
          description: The workflow has not created the ledger record yet; retry briefly, then supervise if unresolved.

  /repos/a15280020511/test2/contents/runtime_results/current_operation_status.json:
    get:
      operationId: getCurrentOperationStatus
      summary: Read the current active-operation dashboard
      description: Dashboard only. Use getOperationState for the submitted operation and cancellation decisions.
      parameters:
        - $ref: "#/components/parameters/RuntimeRef"
        - $ref: "#/components/parameters/RawAccept"
      responses:
        "200":
          description: Current active-operation dashboard.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"

  /repos/a15280020511/test2/actions/runs/{run_id}:
    get:
      operationId: getExpertTeamRun
      summary: Read one known Run for audit
      parameters:
        - $ref: "#/components/parameters/RunId"
      responses:
        "200":
          description: Run details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkflowRun"

  /repos/a15280020511/test2/actions/runs/{run_id}/jobs:
    get:
      operationId: getExpertTeamRunJobs
      summary: Read Jobs and Steps for one known Run
      parameters:
        - $ref: "#/components/parameters/RunId"
      responses:
        "200":
          description: Jobs and steps.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreeObject"

  /repos/a15280020511/test2/actions/runs/{run_id}/artifacts:
    get:
      operationId: listExpertTeamRunArtifacts
      summary: List artifacts for one known Run
      parameters:
        - $ref: "#/components/parameters/RunId"
      responses:
        "200":
          description: Run artifacts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreeObject"

  /repos/a15280020511/test2/contents/runtime_results/{operation_id}/expert_team_result.json:
    get:
      operationId: getExpertTeamResult
      summary: Read final expert-team result
      parameters:
        - $ref: "#/components/parameters/OperationId"
        - $ref: "#/components/parameters/RuntimeRef"
        - $ref: "#/components/parameters/RawAccept"
      responses:
        "200":
          description: Expert-team result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreeObject"
        "404":
          description: Result is not published or the operation is not successful.

  /repos/a15280020511/test2/contents/runtime_results/{operation_id}/deepseek_steward_result.json:
    get:
      operationId: getDeepSeekStewardResult
      summary: Read DeepSeek Steward or Supervisor result
      parameters:
        - $ref: "#/components/parameters/OperationId"
        - $ref: "#/components/parameters/RuntimeRef"
        - $ref: "#/components/parameters/RawAccept"
      responses:
        "200":
          description: DeepSeek result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreeObject"

  /repos/a15280020511/test2/contents/runtime_results/{operation_id}/auto_repair_result.json:
    get:
      operationId: getAutoRepairResult
      summary: Read internal DeepSeek diagnosis and retry evidence
      parameters:
        - $ref: "#/components/parameters/OperationId"
        - $ref: "#/components/parameters/RuntimeRef"
        - $ref: "#/components/parameters/RawAccept"
      responses:
        "200":
          description: Internal repair evidence.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreeObject"

  /repos/a15280020511/test2/contents/runtime_results/{operation_id}/metadata.json:
    get:
      operationId: getExpertTeamOperationMetadata
      summary: Read operation metadata
      parameters:
        - $ref: "#/components/parameters/OperationId"
        - $ref: "#/components/parameters/RuntimeRef"
        - $ref: "#/components/parameters/RawAccept"
      responses:
        "200":
          description: Operation metadata.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreeObject"

  /repos/a15280020511/test2/contents/runtime_results/{operation_id}/cost_preflight.json:
    get:
      operationId: getOperationCostPreflight
      summary: Read worst-case budget preflight
      parameters:
        - $ref: "#/components/parameters/OperationId"
        - $ref: "#/components/parameters/RuntimeRef"
        - $ref: "#/components/parameters/RawAccept"
      responses:
        "200":
          description: Budget cap, reserve, model prices, token ceilings, and worst-case estimate.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreeObject"

  /repos/a15280020511/test2/contents/runtime_results/{operation_id}/operation_audit.json:
    get:
      operationId: getOperationAudit
      summary: Read consolidated operation audit
      parameters:
        - $ref: "#/components/parameters/OperationId"
        - $ref: "#/components/parameters/RuntimeRef"
        - $ref: "#/components/parameters/RawAccept"
      responses:
        "200":
          description: Attempts, Runs, plan provenance, budget, model calls, recovery, and result audit.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreeObject"

  /repos/a15280020511/test2/contents/runtime_results/{operation_id}/cancellation_result.json:
    get:
      operationId: getCancellationResult
      summary: Read cancellation evidence
      parameters:
        - $ref: "#/components/parameters/OperationId"
        - $ref: "#/components/parameters/RuntimeRef"
        - $ref: "#/components/parameters/RawAccept"
      responses:
        "200":
          description: Matching Runs, cancel actions, and lock release result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreeObject"

  /repos/a15280020511/test2/actions/artifacts/{artifact_id}/zip:
    get:
      operationId: downloadExpertTeamArtifact
      summary: Download an audit artifact ZIP
      parameters:
        - name: artifact_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Artifact ZIP.
          content:
            application/zip:
              schema:
                type: string
                format: binary
        "302":
          description: Redirect to a temporary artifact URL.

components:
  parameters:
    RuntimeRef:
      name: ref
      in: query
      required: true
      schema:
        type: string
        enum: [runtime-results]
    MainRef:
      name: ref
      in: query
      required: true
      schema:
        type: string
        enum: [main]
    RawAccept:
      name: Accept
      in: header
      required: false
      schema:
        type: string
        default: application/vnd.github.raw+json
    OperationId:
      name: operation_id
      in: path
      required: true
      schema:
        type: string
    RunId:
      name: run_id
      in: path
      required: true
      schema:
        type: integer

  schemas:
    FreeObject:
      type: object
      properties: {}
      additionalProperties: true

    OperationReceiptComment:
      type: object
      properties:
        id:
          type: integer
        body:
          type: string
        html_url:
          type: string
        created_at:
          type: string
      additionalProperties: true

    ModelIntelligenceSnapshot:
      type: object
      properties:
        schema_version:
          type: string
        generated_at:
          type: string
        source:
          type: string
        selection_rule:
          type: string
        ranking_limit:
          type: integer
        rankings:
          type: object
          properties: {}
          additionalProperties: true
        models:
          type: object
          properties: {}
          additionalProperties: true
      additionalProperties: true

    OperationStatus:
      type: object
      properties:
        schema_version:
          type: string
        operation_id:
          type: [string, "null"]
        operation:
          type: [string, "null"]
        status:
          type: string
          enum: [idle, accepted, queued, running, repairing, retrying, BUSY, cancel_requested, cancelled, success, STOP, failure]
        run_id:
          type: [string, "null"]
        attempt:
          type: integer
        receipt_comment_id:
          type: [string, "null"]
        supervisor_for_operation_id:
          type: [string, "null"]
        result_ready:
          type: boolean
        result_published:
          type: boolean
        repair_status:
          type: string
        active_step:
          type: [string, "null"]
        heartbeat_at:
          type: string
        updated_at:
          type: string
        cancel_requested:
          type: boolean
        busy_owner_operation_id:
          type: [string, "null"]
        busy_owner_run_id:
          type: [string, "null"]
      additionalProperties: true

    WorkflowRun:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        display_title:
          type: string
        status:
          type: string
        conclusion:
          type: [string, "null"]
        run_number:
          type: integer
        html_url:
          type: string
      additionalProperties: true

  securitySchemes:
    githubBearer:
      type: http
      scheme: bearer
      bearerFormat: GitHub fine-grained personal access token

security:
  - githubBearer: []
