openapi: 3.1.0

info:
  title: test2 Dynamic Expert Team and Automatic DeepSeek Steward Action
  version: 1.3.1
  description: >-
    Web GPT commands user tasks. GitHub runs model intelligence, expert teams, and
    DeepSeek Steward. Internal failures get one DeepSeek repair cycle and one retry.
    Action-edge failures must be handed to DeepSeek REPAIR. DeepSeek failure is STOP.

servers:
  - url: https://api.github.com

paths:
  /repos/a15280020511/test2/contents/runtime_results/model_intelligence_latest.json:
    get:
      operationId: getOpenRouterModels
      summary: Read latest OpenRouter model intelligence snapshot
      description: >-
        Call with ref=runtime-results. On first 404 run model_intelligence and retry once.
        If it still fails, dispatch DeepSeek Steward REPAIR with evidence. After READY,
        retry once. If DeepSeek is unavailable, STOP.
      parameters:
        - name: ref
          in: query
          required: true
          schema:
            type: string
            enum: [runtime-results]
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: Latest compact OpenRouter model intelligence snapshot.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelIntelligenceSnapshot"
        "404":
          description: Snapshot missing; refresh once, then use DeepSeek REPAIR if still missing.

  /repos/a15280020511/test2/contents/execution_plan.schema.json:
    get:
      operationId: getExecutionPlanSchema
      summary: Read authoritative Execution Plan JSON Schema
      description: >-
        Call with ref=main. Any 4xx/5xx, empty response, or unparseable schema triggers
        DeepSeek Steward REPAIR. After READY, retry this read once.
      parameters:
        - name: ref
          in: query
          required: true
          schema:
            type: string
            enum: [main]
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: Raw Execution Plan JSON Schema.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecutionPlanSchemaDocument"

  /repos/a15280020511/test2/contents/DEEPSEEK_STEWARD.md:
    get:
      operationId: getDeepSeekStewardPolicy
      summary: Read DeepSeek Steward operating policy
      description: Read the mandatory DeepSeek Steward role, repair, provider, and STOP rules.
      parameters:
        - name: ref
          in: query
          required: true
          schema:
            type: string
            enum: [main]
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: DeepSeek Steward policy document.
          content:
            text/plain:
              schema:
                type: string

  /repos/a15280020511/test2/contents/ACTION_RECOVERY.md:
    get:
      operationId: getActionRecoveryPolicy
      summary: Read mandatory automatic repair and retry policy
      description: Read the mandatory recovery policy for Action-edge failures and retry limits.
      parameters:
        - name: ref
          in: query
          required: true
          schema:
            type: string
            enum: [main]
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: Automatic recovery policy document.
          content:
            text/plain:
              schema:
                type: string

  /repos/a15280020511/test2/actions/workflows/expert-team-production.yml/dispatches:
    post:
      operationId: dispatchExpertTeamOperation
      summary: Run model intelligence, expert team, or DeepSeek Steward
      description: >-
        Run model_intelligence, execute_team, or deepseek_steward. For Action-edge technical
        failure, dispatch DeepSeek REPAIR, wait for READY, then retry the failed Action once.
        If DeepSeek is unavailable, STOP. Never use OpenRouter as Steward fallback.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ref, inputs]
              properties:
                ref:
                  type: string
                  enum: [main]
                inputs:
                  type: object
                  required: [operation_id, operation]
                  properties:
                    operation_id:
                      type: string
                      description: Unique correlation ID generated by Web GPT.
                    operation:
                      type: string
                      enum: [model_intelligence, execute_team, deepseek_steward]
                    plan_json:
                      type: string
                      default: "{}"
                      description: Stringified Execution Plan JSON for execute_team.
                    ranking_limit:
                      type: string
                      default: "20"
                    steward_mode:
                      type: string
                      enum: [ASSIST, REPAIR]
                      default: ASSIST
                    support_packet_json:
                      type: string
                      default: "{}"
                      description: >-
                        Stringified Support Packet with failure evidence, Run/Job/Step/log data
                        when available, attempts already made, constraints, and requested outcome.
                        Never fabricate missing evidence.
      responses:
        "204":
          description: Workflow dispatch accepted.

  /repos/a15280020511/test2/actions/workflows/expert-team-production.yml/runs:
    get:
      operationId: listExpertTeamRuns
      summary: List recent production workflow runs
      description: List recent Expert Team Production workflow_dispatch runs.
      parameters:
        - name: event
          in: query
          required: false
          schema:
            type: string
            default: workflow_dispatch
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [completed, action_required, cancelled, failure, neutral, skipped, stale, success, timed_out, in_progress, queued, requested, waiting, pending]
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
      responses:
        "200":
          description: Workflow runs.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkflowRunsResponse"

  /repos/a15280020511/test2/actions/runs/{run_id}:
    get:
      operationId: getExpertTeamRun
      summary: Get one workflow run status and conclusion
      description: Read the status and conclusion of one production workflow run.
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Workflow run details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkflowRun"

  /repos/a15280020511/test2/actions/runs/{run_id}/jobs:
    get:
      operationId: getExpertTeamRunJobs
      summary: Get jobs and steps for a workflow run
      description: Read jobs and step statuses for one production workflow run.
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Jobs and step statuses.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobsResponse"

  /repos/a15280020511/test2/actions/runs/{run_id}/artifacts:
    get:
      operationId: listExpertTeamRunArtifacts
      summary: List audit artifacts produced by a workflow run
      description: List audit artifacts for one production workflow run.
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Artifacts for the Run.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactsResponse"

  /repos/a15280020511/test2/contents/runtime_results/{operation_id}/expert_team_result.json:
    get:
      operationId: getExpertTeamResult
      summary: Read final expert-team JSON result
      description: >-
        Call with ref=runtime-results. If a successful Run has no readable result, trigger
        DeepSeek REPAIR, wait for READY, then retry this read once.
      parameters:
        - name: operation_id
          in: path
          required: true
          schema:
            type: string
        - name: ref
          in: query
          required: true
          schema:
            type: string
            enum: [runtime-results]
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: Expert-team execution result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExpertTeamResult"
        "404":
          description: Result is not published yet or operation_id is incorrect.

  /repos/a15280020511/test2/contents/runtime_results/{operation_id}/deepseek_steward_result.json:
    get:
      operationId: getDeepSeekStewardResult
      summary: Read DeepSeek Steward ASSIST or REPAIR result
      description: >-
        Call with ref=runtime-results. Resume only when status or resume is READY.
        If the official DeepSeek API failed, STOP and do not use OpenRouter fallback.
      parameters:
        - name: operation_id
          in: path
          required: true
          schema:
            type: string
        - name: ref
          in: query
          required: true
          schema:
            type: string
            enum: [runtime-results]
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: DeepSeek Steward result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeepSeekStewardResult"
        "404":
          description: Steward result is not published yet or operation_id is incorrect.

  /repos/a15280020511/test2/contents/runtime_results/{operation_id}/auto_repair_result.json:
    get:
      operationId: getAutoRepairResult
      summary: Read automatic DeepSeek repair evidence
      description: Read automatic repair evidence for an operation that required internal recovery.
      parameters:
        - name: operation_id
          in: path
          required: true
          schema:
            type: string
        - name: ref
          in: query
          required: true
          schema:
            type: string
            enum: [runtime-results]
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: Automatic repair result and delivery state.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutoRepairResult"
        "404":
          description: No automatic repair evidence exists yet for this operation.

  /repos/a15280020511/test2/contents/runtime_results/{operation_id}/metadata.json:
    get:
      operationId: getExpertTeamOperationMetadata
      summary: Read published operation metadata
      description: Read published metadata for a model intelligence, expert team, or Steward operation.
      parameters:
        - name: operation_id
          in: path
          required: true
          schema:
            type: string
        - name: ref
          in: query
          required: true
          schema:
            type: string
            enum: [runtime-results]
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: Operation metadata.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationMetadata"
        "404":
          description: Metadata is not published yet or operation_id is incorrect.

  /repos/a15280020511/test2/actions/artifacts/{artifact_id}/zip:
    get:
      operationId: downloadExpertTeamArtifact
      summary: Download optional audit artifact ZIP
      description: >-
        Download optional audit evidence. Prefer runtime_results JSON for normal result reading
        because artifact downloads may redirect to temporary URLs.
      parameters:
        - name: artifact_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Artifact ZIP archive.
          content:
            application/zip:
              schema:
                type: string
                format: binary
        "302":
          description: Redirect to temporary artifact download URL.

components:
  schemas:
    ModelIntelligenceSnapshot:
      type: object
      properties:
        schema_version:
          type: string
        generated_at:
          type: string
        source:
          type: string
        selection_rule:
          type: string
        rankings:
          type: object
          properties: {}
          additionalProperties: true
        models:
          type: object
          properties: {}
          additionalProperties: true
      additionalProperties: true

    ExecutionPlanSchemaDocument:
      type: object
      properties:
        $schema:
          type: string
        $id:
          type: string
        title:
          type: string
        description:
          type: string
        type:
          type: string
        required:
          type: array
          items:
            type: string
        properties:
          type: object
          properties: {}
          additionalProperties: true
      additionalProperties: true

    WorkflowRunsResponse:
      type: object
      properties:
        total_count:
          type: integer
        workflow_runs:
          type: array
          items:
            $ref: "#/components/schemas/WorkflowRun"
      additionalProperties: true

    WorkflowRun:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        display_title:
          type: string
        status:
          type: string
        conclusion:
          type: [string, "null"]
        event:
          type: string
        run_number:
          type: integer
        html_url:
          type: string
      additionalProperties: true

    JobsResponse:
      type: object
      properties:
        total_count:
          type: integer
        jobs:
          type: array
          items:
            $ref: "#/components/schemas/WorkflowJob"
      additionalProperties: true

    WorkflowJob:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        status:
          type: string
        conclusion:
          type: [string, "null"]
        steps:
          type: array
          items:
            $ref: "#/components/schemas/WorkflowStep"
      additionalProperties: true

    WorkflowStep:
      type: object
      properties:
        name:
          type: string
        status:
          type: string
        conclusion:
          type: [string, "null"]
        number:
          type: integer
      additionalProperties: true

    ArtifactsResponse:
      type: object
      properties:
        total_count:
          type: integer
        artifacts:
          type: array
          items:
            $ref: "#/components/schemas/Artifact"
      additionalProperties: true

    Artifact:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        size_in_bytes:
          type: integer
        expired:
          type: boolean
        archive_download_url:
          type: string
      additionalProperties: true

    ExpertTeamResult:
      type: object
      properties:
        plan_source:
          type: string
        plan:
          type: object
          properties: {}
          additionalProperties: true
        stage_outputs:
          type: object
          properties: {}
          additionalProperties: true
        red_team_output:
          type: [string, "null"]
        final_answer:
          type: [string, "null"]
      additionalProperties: true

    DeepSeekStewardResult:
      type: object
      properties:
        mode:
          type: string
        status:
          type: string
        decision:
          type: string
        diagnosis:
          type: string
        confidence:
          type: number
        guidance:
          type: array
          items:
            type: string
        message_to_web_gpt:
          type: string
        resume:
          type: string
        steward_model:
          type: string
        steward_provider:
          type: string
        repair_application:
          type: object
          properties: {}
          additionalProperties: true
        repair_delivery:
          type: object
          properties: {}
          additionalProperties: true
      additionalProperties: true

    AutoRepairResult:
      type: object
      properties:
        mode:
          type: string
        decision:
          type: string
        diagnosis:
          type: string
        confidence:
          type: number
        resume:
          type: string
        steward_model:
          type: string
        steward_provider:
          type: string
        verification:
          type: string
        retry:
          type: object
          properties: {}
          additionalProperties: true
        repair_application:
          type: object
          properties: {}
          additionalProperties: true
        repair_delivery:
          type: object
          properties: {}
          additionalProperties: true
      additionalProperties: true

    OperationMetadata:
      type: object
      properties:
        operation_id:
          type: string
        operation:
          type: string
        steward_mode:
          type: string
        status:
          type: string
        result_file:
          type: string
        readable_result_file:
          type: string
        steward_decision:
          type: string
        steward_resume:
          type: string
        error_type:
          type: string
        error:
          type: string
      additionalProperties: true

  securitySchemes:
    githubBearer:
      type: http
      scheme: bearer
      bearerFormat: GitHub fine-grained personal access token

security:
  - githubBearer: []
