openapi: 3.1.0

info:
  title: test2 Dynamic Expert Team and Automatic DeepSeek Steward Action
  version: 1.3.0
  description: >-
    Web GPT is the user-facing task commander. GitHub executes model intelligence,
    dynamic expert teams, and DeepSeek Steward. DeepSeek Steward is the mandatory
    repository repair manager and uses only the official DeepSeek API. GitHub-internal
    model_intelligence and execute_team failures automatically trigger one DeepSeek
    REPAIR cycle, mandatory verification, one retry of the original operation, and
    verified repair delivery. For Action-edge failures that occur before a workflow can
    observe them (4xx/5xx, empty or unparseable responses, missing runtime results),
    Web GPT MUST automatically dispatch deepseek_steward with steward_mode=REPAIR,
    wait for READY, then retry the failed Action step once. If the official DeepSeek API
    is unavailable, STOP the current task. Never use OpenRouter as a Steward fallback.

servers:
  - url: https://api.github.com

paths:
  /repos/a15280020511/test2/contents/runtime_results/model_intelligence_latest.json:
    get:
      operationId: getOpenRouterModels
      summary: Read latest OpenRouter model intelligence snapshot
      description: >-
        Always call with ref=runtime-results. On the first 404, dispatch
        operation=model_intelligence and wait for its Run to succeed, then retry this read
        once with ref=runtime-results. If the second read fails, automatically dispatch
        DeepSeek Steward REPAIR with the failed-call evidence. Do not stop before the
        automatic repair handoff unless DeepSeek itself is unavailable.
      parameters:
        - name: ref
          in: query
          required: true
          schema:
            type: string
            enum: [runtime-results]
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: Latest compact OpenRouter model intelligence snapshot.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelIntelligenceSnapshot"
        "404":
          description: >-
            Snapshot missing. Refresh once with model_intelligence. If the refreshed read
            still returns 404, trigger DeepSeek Steward REPAIR automatically.

  /repos/a15280020511/test2/contents/execution_plan.schema.json:
    get:
      operationId: getExecutionPlanSchema
      summary: Read authoritative Execution Plan JSON Schema
      description: >-
        Always call with ref=main. Any 4xx/5xx, empty response, or unparseable schema is an
        automatic DeepSeek Steward REPAIR trigger. After READY, retry this read once.
      parameters:
        - name: ref
          in: query
          required: true
          schema:
            type: string
            enum: [main]
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: Raw Execution Plan JSON Schema.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecutionPlanSchemaDocument"

  /repos/a15280020511/test2/contents/DEEPSEEK_STEWARD.md:
    get:
      operationId: getDeepSeekStewardPolicy
      summary: Read DeepSeek Steward operating policy
      parameters:
        - name: ref
          in: query
          required: true
          schema:
            type: string
            enum: [main]
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: DeepSeek Steward policy document.
          content:
            text/plain:
              schema:
                type: string

  /repos/a15280020511/test2/contents/ACTION_RECOVERY.md:
    get:
      operationId: getActionRecoveryPolicy
      summary: Read mandatory automatic repair and retry policy
      description: >-
        Read this policy when operating test2. Web GPT must automatically hand Action-edge
        technical failures to DeepSeek Steward REPAIR rather than ending the task immediately.
      parameters:
        - name: ref
          in: query
          required: true
          schema:
            type: string
            enum: [main]
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: Automatic recovery policy document.
          content:
            text/plain:
              schema:
                type: string

  /repos/a15280020511/test2/actions/workflows/expert-team-production.yml/dispatches:
    post:
      operationId: dispatchExpertTeamOperation
      summary: Run model intelligence, expert team, or DeepSeek Steward
      description: >-
        GitHub internally auto-recovers model_intelligence and execute_team failures: one
        automatic DeepSeek REPAIR cycle, verification, one retry, then verified delivery.
        Use deepseek_steward ASSIST for repository/form guidance. For any Action-edge
        technical failure (4xx/5xx, empty/unparseable required response, unexpectedly missing
        result after a successful Run), Web GPT MUST automatically dispatch deepseek_steward
        REPAIR with a Support Packet, wait for completion, read the Steward result, and retry
        the originally failed Action step once only when resume/status is READY. If the
        DeepSeek official API is unavailable, STOP. Never substitute an OpenRouter model.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ref, inputs]
              properties:
                ref:
                  type: string
                  enum: [main]
                inputs:
                  type: object
                  required: [operation_id, operation]
                  properties:
                    operation_id:
                      type: string
                      description: Unique correlation ID generated by Web GPT.
                    operation:
                      type: string
                      enum: [model_intelligence, execute_team, deepseek_steward]
                    plan_json:
                      type: string
                      default: "{}"
                      description: Stringified Execution Plan JSON for execute_team.
                    ranking_limit:
                      type: string
                      default: "20"
                    steward_mode:
                      type: string
                      enum: [ASSIST, REPAIR]
                      default: ASSIST
                    support_packet_json:
                      type: string
                      default: "{}"
                      description: >-
                        Stringified JSON Support Packet. For Action-edge automatic REPAIR,
                        include the failed operation, HTTP/error response, Run/Job/Step/log
                        evidence when available, attempts already made, constraints, and the
                        requested outcome. Never fabricate missing evidence.
      responses:
        "204":
          description: Workflow dispatch accepted.

  /repos/a15280020511/test2/actions/workflows/expert-team-production.yml/runs:
    get:
      operationId: listExpertTeamRuns
      summary: List recent production workflow runs
      parameters:
        - name: event
          in: query
          required: false
          schema:
            type: string
            default: workflow_dispatch
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [completed, action_required, cancelled, failure, neutral, skipped, stale, success, timed_out, in_progress, queued, requested, waiting, pending]
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
      responses:
        "200":
          description: Workflow runs.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkflowRunsResponse"

  /repos/a15280020511/test2/actions/runs/{run_id}:
    get:
      operationId: getExpertTeamRun
      summary: Get one workflow run status and conclusion
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Workflow run details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkflowRun"

  /repos/a15280020511/test2/actions/runs/{run_id}/jobs:
    get:
      operationId: getExpertTeamRunJobs
      summary: Get jobs and steps for a workflow run
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Jobs and step statuses.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobsResponse"

  /repos/a15280020511/test2/actions/runs/{run_id}/artifacts:
    get:
      operationId: listExpertTeamRunArtifacts
      summary: List audit artifacts produced by a workflow run
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Artifacts for the Run.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactsResponse"

  /repos/a15280020511/test2/contents/runtime_results/{operation_id}/expert_team_result.json:
    get:
      operationId: getExpertTeamResult
      summary: Read final expert-team JSON result
      description: >-
        Always pass ref=runtime-results. If the corresponding Run completed successfully but
        this result is unexpectedly missing or unparseable, automatically trigger DeepSeek
        Steward REPAIR, wait for READY, then retry this read once.
      parameters:
        - name: operation_id
          in: path
          required: true
          schema:
            type: string
        - name: ref
          in: query
          required: true
          schema:
            type: string
            enum: [runtime-results]
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: Expert-team execution result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExpertTeamResult"
        "404":
          description: Result is not published yet or operation_id is incorrect.

  /repos/a15280020511/test2/contents/runtime_results/{operation_id}/deepseek_steward_result.json:
    get:
      operationId: getDeepSeekStewardResult
      summary: Read DeepSeek Steward ASSIST or REPAIR result
      description: >-
        Always pass ref=runtime-results. Resume the original task only when status/resume is
        READY. If the Steward operation itself failed because the official DeepSeek API was
        unavailable, STOP the current task and do not use OpenRouter as a fallback.
      parameters:
        - name: operation_id
          in: path
          required: true
          schema:
            type: string
        - name: ref
          in: query
          required: true
          schema:
            type: string
            enum: [runtime-results]
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: DeepSeek Steward result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeepSeekStewardResult"
        "404":
          description: Steward result is not published yet or operation_id is incorrect.

  /repos/a15280020511/test2/contents/runtime_results/{operation_id}/auto_repair_result.json:
    get:
      operationId: getAutoRepairResult
      summary: Read automatic DeepSeek repair evidence for a recovered production operation
      parameters:
        - name: operation_id
          in: path
          required: true
          schema:
            type: string
        - name: ref
          in: query
          required: true
          schema:
            type: string
            enum: [runtime-results]
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: Automatic repair result and delivery state.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutoRepairResult"
        "404":
          description: This operation did not require automatic repair, or evidence is not published yet.

  /repos/a15280020511/test2/contents/runtime_results/{operation_id}/metadata.json:
    get:
      operationId: getExpertTeamOperationMetadata
      summary: Read published operation metadata
      parameters:
        - name: operation_id
          in: path
          required: true
          schema:
            type: string
        - name: ref
          in: query
          required: true
          schema:
            type: string
            enum: [runtime-results]
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: Operation metadata.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationMetadata"
        "404":
          description: Metadata is not published yet or operation_id is incorrect.

  /repos/a15280020511/test2/actions/artifacts/{artifact_id}/zip:
    get:
      operationId: downloadExpertTeamArtifact
      summary: Download optional audit artifact ZIP
      description: >-
        Artifact download is optional audit evidence. Prefer runtime_results JSON for actual
        result reading because artifact downloads may redirect to temporary URLs.
      parameters:
        - name: artifact_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Artifact ZIP archive.
          content:
            application/zip:
              schema:
                type: string
                format: binary
        "302":
          description: Redirect to temporary artifact download URL.

components:
  schemas:
    ModelIntelligenceSnapshot:
      type: object
      properties:
        schema_version:
          type: string
        generated_at:
          type: string
        source:
          type: string
        selection_rule:
          type: string
        rankings:
          type: object
          properties: {}
          additionalProperties: true
        models:
          type: object
          properties: {}
          additionalProperties: true
      additionalProperties: true

    ExecutionPlanSchemaDocument:
      type: object
      properties:
        $schema:
          type: string
        $id:
          type: string
        title:
          type: string
        description:
          type: string
        type:
          type: string
        required:
          type: array
          items:
            type: string
        properties:
          type: object
          properties: {}
          additionalProperties: true
      additionalProperties: true

    WorkflowRunsResponse:
      type: object
      properties:
        total_count:
          type: integer
        workflow_runs:
          type: array
          items:
            $ref: "#/components/schemas/WorkflowRun"
      additionalProperties: true

    WorkflowRun:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        display_title:
          type: string
        status:
          type: string
        conclusion:
          type: [string, "null"]
        event:
          type: string
        run_number:
          type: integer
        html_url:
          type: string
      additionalProperties: true

    JobsResponse:
      type: object
      properties:
        total_count:
          type: integer
        jobs:
          type: array
          items:
            $ref: "#/components/schemas/WorkflowJob"
      additionalProperties: true

    WorkflowJob:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        status:
          type: string
        conclusion:
          type: [string, "null"]
        steps:
          type: array
          items:
            $ref: "#/components/schemas/WorkflowStep"
      additionalProperties: true

    WorkflowStep:
      type: object
      properties:
        name:
          type: string
        status:
          type: string
        conclusion:
          type: [string, "null"]
        number:
          type: integer
      additionalProperties: true

    ArtifactsResponse:
      type: object
      properties:
        total_count:
          type: integer
        artifacts:
          type: array
          items:
            $ref: "#/components/schemas/Artifact"
      additionalProperties: true

    Artifact:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        size_in_bytes:
          type: integer
        expired:
          type: boolean
        archive_download_url:
          type: string
      additionalProperties: true

    ExpertTeamResult:
      type: object
      properties:
        plan_source:
          type: string
        plan:
          type: object
          properties: {}
          additionalProperties: true
        stage_outputs:
          type: object
          properties: {}
          additionalProperties: true
        red_team_output:
          type: [string, "null"]
        final_answer:
          type: [string, "null"]
      additionalProperties: true

    DeepSeekStewardResult:
      type: object
      properties:
        mode:
          type: string
        status:
          type: string
        decision:
          type: string
        diagnosis:
          type: string
        confidence:
          type: number
        guidance:
          type: array
          items:
            type: string
        message_to_web_gpt:
          type: string
        resume:
          type: string
        steward_model:
          type: string
        steward_provider:
          type: string
        repair_application:
          type: object
          properties: {}
          additionalProperties: true
        repair_delivery:
          type: object
          properties: {}
          additionalProperties: true
      additionalProperties: true

    AutoRepairResult:
      type: object
      properties:
        mode:
          type: string
        decision:
          type: string
        diagnosis:
          type: string
        confidence:
          type: number
        resume:
          type: string
        steward_model:
          type: string
        steward_provider:
          type: string
        verification:
          type: string
        retry:
          type: object
          properties: {}
          additionalProperties: true
        repair_application:
          type: object
          properties: {}
          additionalProperties: true
        repair_delivery:
          type: object
          properties: {}
          additionalProperties: true
      additionalProperties: true

    OperationMetadata:
      type: object
      properties:
        operation_id:
          type: string
        operation:
          type: string
        steward_mode:
          type: string
        status:
          type: string
        result_file:
          type: string
        readable_result_file:
          type: string
        steward_decision:
          type: string
        steward_resume:
          type: string
        error_type:
          type: string
        error:
          type: string
      additionalProperties: true

  securitySchemes:
    githubBearer:
      type: http
      scheme: bearer
      bearerFormat: GitHub fine-grained personal access token

security:
  - githubBearer: []
