openapi: 3.1.0
info:
  title: test2 Dynamic Expert Team Action
  version: 1.0.1
  description: >-
    Lets Web GPT inspect current OpenRouter model rankings, read the expert-team
    execution-plan schema, dispatch the GitHub expert-team workflow, and inspect
    workflow runs, jobs, and artifacts. Web GPT is the planner; GitHub executes.
servers:
  - url: https://api.github.com

paths:
  /models:
    get:
      operationId: getOpenRouterModels
      summary: Get current OpenRouter models and rankings
      description: >-
        Read the live OpenRouter model catalog. Use sort and task-relevant filters
        to choose models for experts, red team, and judge. Rankings are evidence,
        not a universal winner list.
      servers:
        - url: https://openrouter.ai/api/v1
      security: []
      parameters:
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum:
              - intelligence-high-to-low
              - coding-high-to-low
              - agentic-high-to-low
              - design-arena-elo-high-to-low
              - most-popular
              - top-weekly
              - throughput-high-to-low
              - latency-low-to-high
              - pricing-low-to-high
              - pricing-high-to-low
              - context-high-to-low
              - newest
        - name: category
          in: query
          required: false
          schema:
            type: string
            enum:
              - programming
              - roleplay
              - marketing
              - marketing/seo
              - technology
              - science
              - translation
              - legal
              - finance
              - health
              - trivia
              - academia
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 20
        - name: context
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
          description: Minimum context length in tokens.
        - name: supported_parameters
          in: query
          required: false
          schema:
            type: string
          description: Comma-separated required parameters such as tools or structured_outputs.
        - name: input_modalities
          in: query
          required: false
          schema:
            type: string
          description: Comma-separated modalities such as text,image,audio,file.
        - name: output_modalities
          in: query
          required: false
          schema:
            type: string
          description: Comma-separated modalities such as text,image,audio,embeddings.
        - name: min_intelligence_index
          in: query
          required: false
          schema:
            type: number
        - name: min_coding_index
          in: query
          required: false
          schema:
            type: number
        - name: min_agentic_index
          in: query
          required: false
          schema:
            type: number
        - name: min_tool_success_rate
          in: query
          required: false
          schema:
            type: number
            minimum: 0
            maximum: 1
      responses:
        "200":
          description: Current OpenRouter model catalog ordered by the requested ranking.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenRouterModelsResponse"

  /repos/a15280020511/test2/contents/execution_plan.schema.json:
    get:
      operationId: getExecutionPlanSchema
      summary: Read the authoritative expert-team execution-plan JSON Schema
      parameters:
        - name: ref
          in: query
          required: false
          schema:
            type: string
            default: main
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: Raw JSON Schema defining the Web-GPT-authored execution plan.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecutionPlanSchemaDocument"

  /repos/a15280020511/test2/actions/workflows/expert-team-production.yml/dispatches:
    post:
      operationId: dispatchExpertTeamOperation
      summary: Dispatch model-intelligence generation or execute a dynamic expert team
      description: >-
        Before execute_team, Web GPT should inspect OpenRouter rankings, read the
        execution-plan schema, and create a task-specific plan. Use a unique operation_id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ref, inputs]
              properties:
                ref:
                  type: string
                  default: main
                inputs:
                  type: object
                  required: [operation_id, operation]
                  properties:
                    operation_id:
                      type: string
                      description: Unique correlation ID generated by Web GPT.
                    operation:
                      type: string
                      enum: [model_intelligence, execute_team]
                    plan_json:
                      type: string
                      default: "{}"
                      description: Stringified Execution Plan JSON. Required for execute_team.
                    ranking_limit:
                      type: string
                      default: "20"
      responses:
        "204":
          description: Workflow dispatch accepted.

  /repos/a15280020511/test2/actions/workflows/expert-team-production.yml/runs:
    get:
      operationId: listExpertTeamRuns
      summary: List recent production expert-team workflow runs
      parameters:
        - name: event
          in: query
          required: false
          schema:
            type: string
            default: workflow_dispatch
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [completed, action_required, cancelled, failure, neutral, skipped, stale, success, timed_out, in_progress, queued, requested, waiting, pending]
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
      responses:
        "200":
          description: Workflow runs.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkflowRunsResponse"

  /repos/a15280020511/test2/actions/runs/{run_id}:
    get:
      operationId: getExpertTeamRun
      summary: Get one workflow run status and conclusion
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Workflow run details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkflowRun"

  /repos/a15280020511/test2/actions/runs/{run_id}/jobs:
    get:
      operationId: getExpertTeamRunJobs
      summary: Get jobs and steps for a workflow run
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Jobs and step statuses.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobsResponse"

  /repos/a15280020511/test2/actions/runs/{run_id}/artifacts:
    get:
      operationId: listExpertTeamRunArtifacts
      summary: List result artifacts produced by a workflow run
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Artifacts for the run.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactsResponse"

  /repos/a15280020511/test2/actions/artifacts/{artifact_id}/zip:
    get:
      operationId: downloadExpertTeamArtifact
      summary: Download a result artifact ZIP
      parameters:
        - name: artifact_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Artifact ZIP archive.
          content:
            application/zip:
              schema:
                type: string
                format: binary
        "302":
          description: Redirect to temporary artifact download URL.

components:
  schemas:
    OpenRouterModelsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/OpenRouterModel"
      additionalProperties: true

    OpenRouterModel:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        context_length:
          type: integer
        created:
          type: integer
      additionalProperties: true

    ExecutionPlanSchemaDocument:
      type: object
      properties:
        $schema:
          type: string
        $id:
          type: string
        title:
          type: string
        description:
          type: string
        type:
          type: string
        required:
          type: array
          items:
            type: string
        properties:
          type: object
          properties:
            version:
              type: object
              properties:
                const:
                  type: string
              additionalProperties: true
            selection_policy:
              type: object
              properties:
                type:
                  type: string
                const:
                  type: string
                description:
                  type: string
              additionalProperties: true
          additionalProperties: true
      additionalProperties: true

    WorkflowRunsResponse:
      type: object
      properties:
        total_count:
          type: integer
        workflow_runs:
          type: array
          items:
            $ref: "#/components/schemas/WorkflowRun"
      additionalProperties: true

    WorkflowRun:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        display_title:
          type: string
        status:
          type: string
        conclusion:
          type: string
        event:
          type: string
        run_number:
          type: integer
        html_url:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
      additionalProperties: true

    JobsResponse:
      type: object
      properties:
        total_count:
          type: integer
        jobs:
          type: array
          items:
            $ref: "#/components/schemas/WorkflowJob"
      additionalProperties: true

    WorkflowJob:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        status:
          type: string
        conclusion:
          type: string
        steps:
          type: array
          items:
            $ref: "#/components/schemas/WorkflowStep"
      additionalProperties: true

    WorkflowStep:
      type: object
      properties:
        name:
          type: string
        status:
          type: string
        conclusion:
          type: string
        number:
          type: integer
      additionalProperties: true

    ArtifactsResponse:
      type: object
      properties:
        total_count:
          type: integer
        artifacts:
          type: array
          items:
            $ref: "#/components/schemas/Artifact"
      additionalProperties: true

    Artifact:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        size_in_bytes:
          type: integer
        expired:
          type: boolean
        archive_download_url:
          type: string
      additionalProperties: true

  securitySchemes:
    githubBearer:
      type: http
      scheme: bearer
      bearerFormat: GitHub fine-grained personal access token

security:
  - githubBearer: []
