openapi: 3.1.0

info:
  title: test2 Dynamic Expert Team and DeepSeek Steward Action
  version: 1.2.0
  description: >-
    Web GPT is the user-facing task commander. DeepSeek Steward is the repository
    service manager: ASSIST guides Web GPT on repository use and Execution Plan
    preparation; REPAIR owns repository technical diagnosis and controlled repair.
    GitHub is the only Action host. OpenRouter and DeepSeek are accessed inside
    GitHub Actions.

servers:
  - url: https://api.github.com

paths:

  /repos/a15280020511/test2/contents/runtime_results/model_intelligence_latest.json:
    get:
      operationId: getOpenRouterModels
      summary: Read latest OpenRouter model intelligence snapshot
      description: >-
        Read the latest compact OpenRouter model rankings and task-selection metadata.
        If the file does not exist or is stale, dispatch operation=model_intelligence,
        wait for success, then call this operation again.
      parameters:
        - name: ref
          in: query
          required: false
          schema:
            type: string
            default: runtime-results
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: Latest compact OpenRouter model intelligence snapshot.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelIntelligenceSnapshot"
        "404":
          description: No model-intelligence snapshot has been published yet.

  /repos/a15280020511/test2/contents/execution_plan.schema.json:
    get:
      operationId: getExecutionPlanSchema
      summary: Read the authoritative expert-team Execution Plan JSON Schema
      parameters:
        - name: ref
          in: query
          required: false
          schema:
            type: string
            default: main
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: Raw Execution Plan JSON Schema.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecutionPlanSchemaDocument"

  /repos/a15280020511/test2/contents/DEEPSEEK_STEWARD.md:
    get:
      operationId: getDeepSeekStewardPolicy
      summary: Read the DeepSeek Steward operating policy
      description: >-
        Read this policy when deciding whether to ask DeepSeek Steward for ASSIST
        or hand a repository technical problem to REPAIR.
      parameters:
        - name: ref
          in: query
          required: false
          schema:
            type: string
            default: main
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: DeepSeek Steward policy document.
          content:
            text/plain:
              schema:
                type: string

  /repos/a15280020511/test2/actions/workflows/expert-team-production.yml/dispatches:
    post:
      operationId: dispatchExpertTeamOperation
      summary: Run model intelligence, expert team, or DeepSeek Steward
      description: >-
        Use model_intelligence to refresh model data. Use execute_team only after
        Web GPT has created a valid task-specific Execution Plan. Use deepseek_steward
        with ASSIST for repository/form guidance and REPAIR for any repository
        technical fault. Web GPT should not independently improvise repository code
        repairs when DeepSeek Steward is available.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ref
                - inputs
              properties:
                ref:
                  type: string
                  default: main
                inputs:
                  type: object
                  required:
                    - operation_id
                    - operation
                  properties:
                    operation_id:
                      type: string
                      description: Unique correlation ID generated by Web GPT.
                    operation:
                      type: string
                      enum:
                        - model_intelligence
                        - execute_team
                        - deepseek_steward
                    plan_json:
                      type: string
                      default: "{}"
                      description: Stringified Execution Plan JSON for execute_team.
                    ranking_limit:
                      type: string
                      default: "20"
                    steward_mode:
                      type: string
                      enum:
                        - ASSIST
                        - REPAIR
                      default: ASSIST
                      description: Used only when operation=deepseek_steward.
                    support_packet_json:
                      type: string
                      default: "{}"
                      description: >-
                        Stringified JSON Support Packet. For ASSIST include the user task,
                        current plan questions and constraints. For REPAIR include the
                        failure location, Run/Job/Step/log evidence, errors, attempted fixes
                        and requested outcome. Never fabricate missing evidence.
      responses:
        "204":
          description: Workflow dispatch accepted.

  /repos/a15280020511/test2/actions/workflows/expert-team-production.yml/runs:
    get:
      operationId: listExpertTeamRuns
      summary: List recent production workflow runs
      parameters:
        - name: event
          in: query
          required: false
          schema:
            type: string
            default: workflow_dispatch
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - completed
              - action_required
              - cancelled
              - failure
              - neutral
              - skipped
              - stale
              - success
              - timed_out
              - in_progress
              - queued
              - requested
              - waiting
              - pending
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
      responses:
        "200":
          description: Workflow runs.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkflowRunsResponse"

  /repos/a15280020511/test2/actions/runs/{run_id}:
    get:
      operationId: getExpertTeamRun
      summary: Get one workflow run status and conclusion
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Workflow run details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkflowRun"

  /repos/a15280020511/test2/actions/runs/{run_id}/jobs:
    get:
      operationId: getExpertTeamRunJobs
      summary: Get jobs and steps for a workflow run
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Jobs and step statuses.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobsResponse"

  /repos/a15280020511/test2/actions/runs/{run_id}/artifacts:
    get:
      operationId: listExpertTeamRunArtifacts
      summary: List audit artifacts produced by a workflow run
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Artifacts for the run.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactsResponse"

  /repos/a15280020511/test2/contents/runtime_results/{operation_id}/expert_team_result.json:
    get:
      operationId: getExpertTeamResult
      summary: Read the final expert-team JSON result directly
      parameters:
        - name: operation_id
          in: path
          required: true
          schema:
            type: string
        - name: ref
          in: query
          required: false
          schema:
            type: string
            default: runtime-results
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: Expert-team execution result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExpertTeamResult"
        "404":
          description: Result is not published yet or operation_id is incorrect.

  /repos/a15280020511/test2/contents/runtime_results/{operation_id}/deepseek_steward_result.json:
    get:
      operationId: getDeepSeekStewardResult
      summary: Read DeepSeek Steward ASSIST or REPAIR result directly
      description: >-
        Read the Steward result after its workflow completes. Resume the original
        Web GPT task only when the returned status/resume is READY. A REPAIR result
        may include the applied files and verified delivery status.
      parameters:
        - name: operation_id
          in: path
          required: true
          schema:
            type: string
        - name: ref
          in: query
          required: false
          schema:
            type: string
            default: runtime-results
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: DeepSeek Steward result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeepSeekStewardResult"
        "404":
          description: Steward result is not published yet or operation_id is incorrect.

  /repos/a15280020511/test2/contents/runtime_results/{operation_id}/metadata.json:
    get:
      operationId: getExpertTeamOperationMetadata
      summary: Read published operation metadata directly
      parameters:
        - name: operation_id
          in: path
          required: true
          schema:
            type: string
        - name: ref
          in: query
          required: false
          schema:
            type: string
            default: runtime-results
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: Operation metadata.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationMetadata"
        "404":
          description: Metadata is not published yet or operation_id is incorrect.

  /repos/a15280020511/test2/actions/artifacts/{artifact_id}/zip:
    get:
      operationId: downloadExpertTeamArtifact
      summary: Download an optional audit artifact ZIP
      description: >-
        Artifact download is optional audit evidence. Read normal expert or Steward
        results through the runtime_results JSON operations because artifact downloads
        may redirect to temporary URLs.
      parameters:
        - name: artifact_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Artifact ZIP archive.
          content:
            application/zip:
              schema:
                type: string
                format: binary
        "302":
          description: Redirect to temporary artifact download URL.

components:
  schemas:

    ModelIntelligenceSnapshot:
      type: object
      properties:
        schema_version:
          type: string
        generated_at:
          type: string
        source:
          type: string
        selection_rule:
          type: string
        rankings:
          type: object
          properties:
            intelligence-high-to-low:
              type: array
              items:
                type: string
            coding-high-to-low:
              type: array
              items:
                type: string
            agentic-high-to-low:
              type: array
              items:
                type: string
            design-arena-elo-high-to-low:
              type: array
              items:
                type: string
            top-weekly:
              type: array
              items:
                type: string
            most-popular:
              type: array
              items:
                type: string
            throughput-high-to-low:
              type: array
              items:
                type: string
            latency-low-to-high:
              type: array
              items:
                type: string
            pricing-low-to-high:
              type: array
              items:
                type: string
            context-high-to-low:
              type: array
              items:
                type: string
            newest:
              type: array
              items:
                type: string
          additionalProperties: true
        models:
          type: object
          properties:
            example:
              $ref: "#/components/schemas/ModelIntelligenceModel"
          additionalProperties:
            $ref: "#/components/schemas/ModelIntelligenceModel"
      additionalProperties: true

    ModelIntelligenceModel:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        context_length:
          type: integer
        pricing:
          type: object
          properties:
            prompt:
              type: string
            completion:
              type: string
          additionalProperties: true
        supported_parameters:
          type: array
          items:
            type: string
        input_modalities:
          type: array
          items:
            type: string
        output_modalities:
          type: array
          items:
            type: string
      additionalProperties: true

    ExecutionPlanSchemaDocument:
      type: object
      properties:
        $schema:
          type: string
        $id:
          type: string
        title:
          type: string
        description:
          type: string
        type:
          type: string
        required:
          type: array
          items:
            type: string
        properties:
          type: object
          properties:
            version:
              type: object
              properties:
                const:
                  type: string
              additionalProperties: true
            selection_policy:
              type: object
              properties:
                type:
                  type: string
                const:
                  type: string
                description:
                  type: string
              additionalProperties: true
          additionalProperties: true
      additionalProperties: true

    WorkflowRunsResponse:
      type: object
      properties:
        total_count:
          type: integer
        workflow_runs:
          type: array
          items:
            $ref: "#/components/schemas/WorkflowRun"
      additionalProperties: true

    WorkflowRun:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        display_title:
          type: string
        status:
          type: string
        conclusion:
          type:
            - string
            - "null"
        event:
          type: string
        run_number:
          type: integer
        html_url:
          type: string
      additionalProperties: true

    JobsResponse:
      type: object
      properties:
        total_count:
          type: integer
        jobs:
          type: array
          items:
            $ref: "#/components/schemas/WorkflowJob"
      additionalProperties: true

    WorkflowJob:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        status:
          type: string
        conclusion:
          type:
            - string
            - "null"
        steps:
          type: array
          items:
            $ref: "#/components/schemas/WorkflowStep"
      additionalProperties: true

    WorkflowStep:
      type: object
      properties:
        name:
          type: string
        status:
          type: string
        conclusion:
          type:
            - string
            - "null"
        number:
          type: integer
      additionalProperties: true

    ArtifactsResponse:
      type: object
      properties:
        total_count:
          type: integer
        artifacts:
          type: array
          items:
            $ref: "#/components/schemas/Artifact"
      additionalProperties: true

    Artifact:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        size_in_bytes:
          type: integer
        expired:
          type: boolean
        archive_download_url:
          type: string
      additionalProperties: true

    ExpertTeamResult:
      type: object
      properties:
        plan_source:
          type: string
        plan:
          type: object
          properties:
            task:
              type: string
          additionalProperties: true
        stage_outputs:
          type: object
          properties:
            example:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  model:
                    type: string
                  output:
                    type: string
                additionalProperties: true
          additionalProperties: true
        red_team_output:
          type:
            - string
            - "null"
        final_answer:
          type:
            - string
            - "null"
      additionalProperties: true

    DeepSeekStewardResult:
      type: object
      properties:
        mode:
          type: string
        status:
          type: string
        decision:
          type: string
        diagnosis:
          type: string
        confidence:
          type: number
        guidance:
          type: array
          items:
            type: string
        execution_plan_guidance:
          type: object
          properties:
            expert_count_guidance:
              type: string
            stage_guidance:
              type: string
            red_team_guidance:
              type: string
            judge_guidance:
              type: string
            model_selection_guidance:
              type: string
          additionalProperties: true
        message_to_web_gpt:
          type: string
        resume:
          type: string
        steward_model:
          type: string
        repair_application:
          type: object
          properties:
            applied_files:
              type: array
              items:
                type: string
            deleted_files:
              type: array
              items:
                type: string
          additionalProperties: true
        repair_delivery:
          type: object
          properties:
            status:
              type: string
            method:
              type: string
            pull_request_url:
              type:
                - string
                - "null"
            verification:
              type: string
          additionalProperties: true
      additionalProperties: true

    OperationMetadata:
      type: object
      properties:
        operation_id:
          type: string
        operation:
          type: string
        steward_mode:
          type: string
        status:
          type: string
        result_file:
          type: string
        readable_result_file:
          type: string
        steward_decision:
          type: string
        steward_resume:
          type: string
        error_type:
          type: string
        error:
          type: string
      additionalProperties: true

  securitySchemes:
    githubBearer:
      type: http
      scheme: bearer
      bearerFormat: GitHub fine-grained personal access token

security:
  - githubBearer: []
