openapi: 3.1.0

info:
  title: test2 Dynamic Expert Team Action
  version: 1.1.0
  description: >-
    Web GPT reads GPT-safe model intelligence and expert-team results from GitHub,
    creates a task-specific execution plan, dispatches the production workflow,
    and inspects runs, jobs, artifacts, and final JSON results. GitHub is the only
    Action host; OpenRouter is accessed inside GitHub Actions.

servers:
  - url: https://api.github.com

paths:

  /repos/a15280020511/test2/contents/runtime_results/model_intelligence_latest.json:
    get:
      operationId: getOpenRouterModels
      summary: Read latest OpenRouter model intelligence snapshot
      description: >-
        Read the latest compact OpenRouter model rankings and task-selection metadata
        previously generated by the production workflow. If this file does not yet
        exist or is stale, dispatch operation=model_intelligence, wait for success,
        then call this operation again.
      parameters:
        - name: ref
          in: query
          required: false
          schema:
            type: string
            default: runtime-results
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: Latest compact OpenRouter model intelligence snapshot.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelIntelligenceSnapshot"
        "404":
          description: No model-intelligence snapshot has been published yet.


  /repos/a15280020511/test2/contents/execution_plan.schema.json:
    get:
      operationId: getExecutionPlanSchema
      summary: Read the authoritative expert-team execution-plan JSON Schema
      parameters:
        - name: ref
          in: query
          required: false
          schema:
            type: string
            default: main
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: Raw JSON Schema defining the Web-GPT-authored execution plan.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecutionPlanSchemaDocument"


  /repos/a15280020511/test2/actions/workflows/expert-team-production.yml/dispatches:
    post:
      operationId: dispatchExpertTeamOperation
      summary: Generate model intelligence or execute a dynamic expert team
      description: >-
        Use operation=model_intelligence to refresh the GPT-readable model snapshot.
        Use operation=execute_team only after Web GPT has read model intelligence and
        the execution-plan schema and has created a valid task-specific plan.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ref
                - inputs
              properties:
                ref:
                  type: string
                  default: main
                inputs:
                  type: object
                  required:
                    - operation_id
                    - operation
                  properties:
                    operation_id:
                      type: string
                      description: Unique correlation ID generated by Web GPT.
                    operation:
                      type: string
                      enum:
                        - model_intelligence
                        - execute_team
                    plan_json:
                      type: string
                      default: "{}"
                      description: Stringified Execution Plan JSON. Required for execute_team.
                    ranking_limit:
                      type: string
                      default: "20"
      responses:
        "204":
          description: Workflow dispatch accepted.


  /repos/a15280020511/test2/actions/workflows/expert-team-production.yml/runs:
    get:
      operationId: listExpertTeamRuns
      summary: List recent production expert-team workflow runs
      parameters:
        - name: event
          in: query
          required: false
          schema:
            type: string
            default: workflow_dispatch
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - completed
              - action_required
              - cancelled
              - failure
              - neutral
              - skipped
              - stale
              - success
              - timed_out
              - in_progress
              - queued
              - requested
              - waiting
              - pending
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
      responses:
        "200":
          description: Workflow runs.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkflowRunsResponse"


  /repos/a15280020511/test2/actions/runs/{run_id}:
    get:
      operationId: getExpertTeamRun
      summary: Get one workflow run status and conclusion
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Workflow run details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkflowRun"


  /repos/a15280020511/test2/actions/runs/{run_id}/jobs:
    get:
      operationId: getExpertTeamRunJobs
      summary: Get jobs and steps for a workflow run
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Jobs and step statuses.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobsResponse"


  /repos/a15280020511/test2/actions/runs/{run_id}/artifacts:
    get:
      operationId: listExpertTeamRunArtifacts
      summary: List audit artifacts produced by a workflow run
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Artifacts for the run.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactsResponse"


  /repos/a15280020511/test2/contents/runtime_results/{operation_id}/expert_team_result.json:
    get:
      operationId: getExpertTeamResult
      summary: Read the final expert-team JSON result directly
      description: >-
        Preferred way for Web GPT to read a completed expert-team result. This avoids
        GitHub Artifact redirect/download limitations. The Artifact remains available
        separately as an audit copy.
      parameters:
        - name: operation_id
          in: path
          required: true
          schema:
            type: string
        - name: ref
          in: query
          required: false
          schema:
            type: string
            default: runtime-results
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: Expert-team execution result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExpertTeamResult"
        "404":
          description: Result is not published yet or the operation ID is incorrect.


  /repos/a15280020511/test2/contents/runtime_results/{operation_id}/metadata.json:
    get:
      operationId: getExpertTeamOperationMetadata
      summary: Read published operation metadata directly
      parameters:
        - name: operation_id
          in: path
          required: true
          schema:
            type: string
        - name: ref
          in: query
          required: false
          schema:
            type: string
            default: runtime-results
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: Operation metadata.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationMetadata"
        "404":
          description: Metadata is not published yet or the operation ID is incorrect.


  /repos/a15280020511/test2/actions/artifacts/{artifact_id}/zip:
    get:
      operationId: downloadExpertTeamArtifact
      summary: Download an audit artifact ZIP
      description: >-
        Optional audit download. Web GPT should use getExpertTeamResult to read the
        actual result because GitHub artifact downloads may redirect to temporary URLs.
      parameters:
        - name: artifact_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Artifact ZIP archive.
          content:
            application/zip:
              schema:
                type: string
                format: binary
        "302":
          description: Redirect to temporary artifact download URL.


components:

  schemas:

    ModelIntelligenceSnapshot:
      type: object
      properties:
        schema_version:
          type: string
        generated_at:
          type: string
        source:
          type: string
        selection_rule:
          type: string
        rankings:
          type: object
          properties:
            intelligence-high-to-low:
              type: array
              items:
                type: string
            coding-high-to-low:
              type: array
              items:
                type: string
            agentic-high-to-low:
              type: array
              items:
                type: string
            design-arena-elo-high-to-low:
              type: array
              items:
                type: string
            top-weekly:
              type: array
              items:
                type: string
            most-popular:
              type: array
              items:
                type: string
            throughput-high-to-low:
              type: array
              items:
                type: string
            latency-low-to-high:
              type: array
              items:
                type: string
            pricing-low-to-high:
              type: array
              items:
                type: string
            context-high-to-low:
              type: array
              items:
                type: string
            newest:
              type: array
              items:
                type: string
          additionalProperties: true
        models:
          type: object
          properties: {}
          additionalProperties:
            $ref: "#/components/schemas/ModelIntelligenceModel"
      additionalProperties: true


    ModelIntelligenceModel:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        context_length:
          type: integer
        pricing:
          type: object
          properties:
            prompt:
              type: string
            completion:
              type: string
            input_cache_read:
              type: string
            input_cache_write:
              type: string
          additionalProperties: true
        supported_parameters:
          type: array
          items:
            type: string
        input_modalities:
          type: array
          items:
            type: string
        output_modalities:
          type: array
          items:
            type: string
        reasoning:
          type: object
          properties:
            mandatory:
              type: boolean
            default_enabled:
              type: boolean
            default_effort:
              type: string
            supported_efforts:
              type: array
              items:
                type: string
          additionalProperties: true
        expiration_date:
          type:
            - string
            - "null"
        knowledge_cutoff:
          type:
            - string
            - "null"
        artificial_analysis:
          type: object
          properties:
            intelligence_index:
              type: number
            coding_index:
              type: number
            agentic_index:
              type: number
          additionalProperties: true
        best_design_arena:
          type:
            - object
            - "null"
          properties:
            arena:
              type: string
            category:
              type: string
            elo:
              type: number
            rank:
              type: integer
            win_rate:
              type: number
          additionalProperties: true
      additionalProperties: true


    ExecutionPlanSchemaDocument:
      type: object
      properties:
        $schema:
          type: string
        $id:
          type: string
        title:
          type: string
        description:
          type: string
        type:
          type: string
        required:
          type: array
          items:
            type: string
        properties:
          type: object
          properties:
            version:
              type: object
              properties:
                const:
                  type: string
              additionalProperties: true
            selection_policy:
              type: object
              properties:
                type:
                  type: string
                const:
                  type: string
                description:
                  type: string
              additionalProperties: true
          additionalProperties: true
      additionalProperties: true


    WorkflowRunsResponse:
      type: object
      properties:
        total_count:
          type: integer
        workflow_runs:
          type: array
          items:
            $ref: "#/components/schemas/WorkflowRun"
      additionalProperties: true


    WorkflowRun:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        display_title:
          type: string
        status:
          type: string
        conclusion:
          type:
            - string
            - "null"
        event:
          type: string
        run_number:
          type: integer
        html_url:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
      additionalProperties: true


    JobsResponse:
      type: object
      properties:
        total_count:
          type: integer
        jobs:
          type: array
          items:
            $ref: "#/components/schemas/WorkflowJob"
      additionalProperties: true


    WorkflowJob:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        status:
          type: string
        conclusion:
          type:
            - string
            - "null"
        steps:
          type: array
          items:
            $ref: "#/components/schemas/WorkflowStep"
      additionalProperties: true


    WorkflowStep:
      type: object
      properties:
        name:
          type: string
        status:
          type: string
        conclusion:
          type:
            - string
            - "null"
        number:
          type: integer
      additionalProperties: true


    ArtifactsResponse:
      type: object
      properties:
        total_count:
          type: integer
        artifacts:
          type: array
          items:
            $ref: "#/components/schemas/Artifact"
      additionalProperties: true


    Artifact:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        size_in_bytes:
          type: integer
        expired:
          type: boolean
        archive_download_url:
          type: string
      additionalProperties: true


    ExpertTeamResult:
      type: object
      properties:
        plan_source:
          type: string
        plan:
          type: object
          properties: {}
          additionalProperties: true
        stage_outputs:
          type: object
          properties: {}
          additionalProperties: true
        red_team_output:
          type:
            - string
            - "null"
        final_answer:
          type:
            - string
            - "null"
      additionalProperties: true


    OperationMetadata:
      type: object
      properties:
        operation_id:
          type: string
        operation:
          type: string
        status:
          type: string
        result_file:
          type: string
        readable_result_file:
          type: string
        error_type:
          type: string
        error:
          type: string
      additionalProperties: true


  securitySchemes:
    githubBearer:
      type: http
      scheme: bearer
      bearerFormat: GitHub fine-grained personal access token


security:
  - githubBearer: []
