openapi: 3.1.0

info:
  title: test2 Dynamic Expert Team and DeepSeek Top Supervisor Action
  version: 1.6.0
  description: >-
    Web GPT owns user intent. DeepSeek is the highest technical layer. Every production task
    gets a durable receipt before dispatch. Technical anomalies route to an independent
    DeepSeek supervisor. Run, Job, Step, Artifact, and per-operation records are audit-only.

servers:
  - url: https://api.github.com

paths:
  /repos/a15280020511/test2/issues/15/comments:
    post:
      operationId: createOperationReceipt
      summary: Create durable receipt before production dispatch
      description: >-
        First step for every production task. Post a compact JSON receipt containing operation_id,
        operation, and a short task label. Keep the returned comment id as receipt_comment_id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body:
                  type: string
                  description: Compact JSON receipt. Never include secrets.
      responses:
        "201":
          description: Durable receipt comment created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationReceiptComment"

  /repos/a15280020511/test2/contents/runtime_results/model_intelligence_latest.json:
    get:
      operationId: getOpenRouterModels
      summary: Read latest GPT-sized OpenRouter model intelligence
      description: >-
        Call with ref=runtime-results. On first 404 create a receipt and dispatch model_intelligence.
        Track through getCurrentOperationStatus. Startup timeout routes to DeepSeek supervisor.
      parameters:
        - name: ref
          in: query
          required: true
          schema:
            type: string
            enum: [runtime-results]
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: Bounded model intelligence snapshot for Web GPT planning.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelIntelligenceSnapshot"
        "404":
          description: Snapshot absent; create receipt, dispatch refresh, then use permanent status.

  /repos/a15280020511/test2/contents/execution_plan.schema.json:
    get:
      operationId: getExecutionPlanSchema
      summary: Read authoritative Execution Plan JSON Schema
      description: >-
        Call with ref=main. Any true technical read or parse failure routes to DeepSeek supervisor.
        This endpoint is not used to infer queued or running task state.
      parameters:
        - name: ref
          in: query
          required: true
          schema:
            type: string
            enum: [main]
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: Raw Execution Plan JSON Schema.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecutionPlanSchemaDocument"

  /repos/a15280020511/test2/contents/DEEPSEEK_STEWARD.md:
    get:
      operationId: getDeepSeekStewardPolicy
      summary: Read highest-level DeepSeek Steward policy
      description: Read mandatory top-supervisor, repair, provider, durable-receipt, and STOP rules.
      parameters:
        - name: ref
          in: query
          required: true
          schema:
            type: string
            enum: [main]
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: DeepSeek Steward policy document.
          content:
            text/plain:
              schema:
                type: string

  /repos/a15280020511/test2/contents/ACTION_RECOVERY.md:
    get:
      operationId: getActionRecoveryPolicy
      summary: Read durable-receipt and automatic recovery policy
      description: Read mandatory receipt, startup-timeout, top-supervisor, retry, and STOP rules.
      parameters:
        - name: ref
          in: query
          required: true
          schema:
            type: string
            enum: [main]
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: Automatic recovery and control-plane policy.
          content:
            text/plain:
              schema:
                type: string

  /repos/a15280020511/test2/actions/workflows/expert-team-production.yml/dispatches:
    post:
      operationId: dispatchExpertTeamOperation
      summary: Dispatch production model intelligence or expert team
      description: >-
        Requires a durable receipt_comment_id created first. After HTTP 204 poll current status.
        Two consecutive mismatched or idle reads trigger DeepSeek supervisor, not user-task failure.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ref, inputs]
              properties:
                ref:
                  type: string
                  enum: [main]
                inputs:
                  type: object
                  required: [operation_id, operation, receipt_comment_id]
                  properties:
                    operation_id:
                      type: string
                      description: Unique correlation ID generated by Web GPT.
                    operation:
                      type: string
                      enum: [model_intelligence, execute_team, deepseek_steward]
                    receipt_comment_id:
                      type: string
                      description: Comment id returned by createOperationReceipt.
                    plan_json:
                      type: string
                      default: "{}"
                      description: Stringified Execution Plan JSON for execute_team.
                    ranking_limit:
                      type: string
                      default: "20"
                    steward_mode:
                      type: string
                      enum: [ASSIST, REPAIR]
                      default: ASSIST
                    support_packet_json:
                      type: string
                      default: "{}"
                      description: Stringified Support Packet with available evidence.
      responses:
        "204":
          description: Production workflow dispatch accepted; start polling permanent current status.

  /repos/a15280020511/test2/actions/workflows/deepseek-supervisor.yml/dispatches:
    post:
      operationId: dispatchDeepSeekSupervisor
      summary: Dispatch highest-level independent DeepSeek technical supervisor
      description: >-
        Use for every technical anomaly, including startup timeout, Action-edge, workflow,
        control-plane, publication, and integration failures. DeepSeek official API only.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ref, inputs]
              properties:
                ref:
                  type: string
                  enum: [main]
                inputs:
                  type: object
                  required: [operation_id, original_operation_id, failure_class, support_packet_json]
                  properties:
                    operation_id:
                      type: string
                      description: Unique supervisor operation ID.
                    original_operation_id:
                      type: string
                      description: Original user-task operation ID being supervised.
                    failed_run_id:
                      type: string
                      default: ""
                      description: Known failed production Run ID when available.
                    receipt_comment_id:
                      type: string
                      default: ""
                      description: Durable receipt comment ID for the original operation.
                    failure_class:
                      type: string
                      description: Technical failure class such as startup_timeout or workflow_failure.
                    support_packet_json:
                      type: string
                      description: Stringified evidence-based DeepSeek REPAIR Support Packet.
                    retry_dispatch_json:
                      type: string
                      default: "{}"
                      description: Original production dispatch payload for one bounded safe resume.
      responses:
        "204":
          description: Independent DeepSeek supervisor dispatch accepted.

  /repos/a15280020511/test2/contents/runtime_results/current_operation_status.json:
    get:
      operationId: getCurrentOperationStatus
      summary: Read permanent current operation control status
      description: >-
        Primary control read. HTTP 200 is expected. After production dispatch, two consecutive
        reads whose operation_id does not match the submitted ID must trigger DeepSeek supervisor.
      parameters:
        - name: ref
          in: query
          required: true
          schema:
            type: string
            enum: [runtime-results]
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: Permanent small current-operation status object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
        "404":
          description: Control-plane defect; immediately route to DeepSeek supervisor.

  /repos/a15280020511/test2/actions/runs/{run_id}:
    get:
      operationId: getExpertTeamRun
      summary: Get one workflow run for audit
      description: Audit-only. Obtain run_id from matching current status; never use run lists for control.
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Workflow run details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkflowRun"

  /repos/a15280020511/test2/actions/runs/{run_id}/jobs:
    get:
      operationId: getExpertTeamRunJobs
      summary: Get jobs and steps for audit
      description: Audit-only. Read jobs and step statuses for one known production or supervisor run.
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Jobs and step statuses.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobsResponse"

  /repos/a15280020511/test2/actions/runs/{run_id}/artifacts:
    get:
      operationId: listExpertTeamRunArtifacts
      summary: List audit artifacts for one known run
      description: Audit-only. Use run_id from matching current status or known audit evidence.
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Artifacts for the Run.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactsResponse"

  /repos/a15280020511/test2/contents/runtime_results/{operation_id}/expert_team_result.json:
    get:
      operationId: getExpertTeamResult
      summary: Read final expert-team JSON result
      description: >-
        Read only when current status matches operation_id, status=success, and result_ready=true.
        Any contradiction or missing expected result routes to DeepSeek supervisor.
      parameters:
        - name: operation_id
          in: path
          required: true
          schema:
            type: string
        - name: ref
          in: query
          required: true
          schema:
            type: string
            enum: [runtime-results]
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: Expert-team execution result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExpertTeamResult"
        "404":
          description: Result is not ready, operation_id is wrong, or publication needs supervision.

  /repos/a15280020511/test2/contents/runtime_results/{operation_id}/deepseek_steward_result.json:
    get:
      operationId: getDeepSeekStewardResult
      summary: Read DeepSeek Steward ASSIST or top-supervisor REPAIR result
      description: >-
        Read after matching Steward or supervisor operation reaches a terminal state. Resume only
        when result says READY. Official DeepSeek failure is STOP; never use OpenRouter fallback.
      parameters:
        - name: operation_id
          in: path
          required: true
          schema:
            type: string
        - name: ref
          in: query
          required: true
          schema:
            type: string
            enum: [runtime-results]
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: DeepSeek Steward result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeepSeekStewardResult"
        "404":
          description: Steward result is not ready or operation_id is incorrect.

  /repos/a15280020511/test2/contents/runtime_results/{operation_id}/auto_repair_result.json:
    get:
      operationId: getAutoRepairResult
      summary: Read automatic DeepSeek repair evidence
      description: Read repair evidence after a terminal matching operation when auto-repair occurred.
      parameters:
        - name: operation_id
          in: path
          required: true
          schema:
            type: string
        - name: ref
          in: query
          required: true
          schema:
            type: string
            enum: [runtime-results]
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: Automatic repair result and delivery state.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutoRepairResult"
        "404":
          description: No automatic repair evidence exists for this operation.

  /repos/a15280020511/test2/contents/runtime_results/{operation_id}/metadata.json:
    get:
      operationId: getExpertTeamOperationMetadata
      summary: Read published operation metadata
      description: Optional audit detail read after the matching operation reaches a terminal state.
      parameters:
        - name: operation_id
          in: path
          required: true
          schema:
            type: string
        - name: ref
          in: query
          required: true
          schema:
            type: string
            enum: [runtime-results]
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: Operation metadata.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationMetadata"
        "404":
          description: Metadata is not ready or operation_id is incorrect.

  /repos/a15280020511/test2/actions/artifacts/{artifact_id}/zip:
    get:
      operationId: downloadExpertTeamArtifact
      summary: Download optional audit artifact ZIP
      description: Optional audit evidence. Prefer runtime-result JSON for normal result reading.
      parameters:
        - name: artifact_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Artifact ZIP archive.
          content:
            application/zip:
              schema:
                type: string
                format: binary
        "302":
          description: Redirect to temporary artifact download URL.

components:
  schemas:
    OperationReceiptComment:
      type: object
      properties:
        id:
          type: integer
        body:
          type: string
        html_url:
          type: string
        created_at:
          type: string
      additionalProperties: true

    ModelIntelligenceSnapshot:
      type: object
      properties:
        schema_version:
          type: string
        generated_at:
          type: string
        source:
          type: string
        selection_rule:
          type: string
        rankings:
          type: object
          properties: {}
          additionalProperties: true
        models:
          type: object
          properties: {}
          additionalProperties: true
      additionalProperties: true

    ExecutionPlanSchemaDocument:
      type: object
      properties:
        $schema:
          type: string
        $id:
          type: string
        title:
          type: string
        description:
          type: string
        type:
          type: string
        required:
          type: array
          items:
            type: string
        properties:
          type: object
          properties: {}
          additionalProperties: true
      additionalProperties: true

    OperationStatus:
      type: object
      properties:
        schema_version:
          type: string
        operation_id:
          type: [string, "null"]
        operation:
          type: [string, "null"]
        status:
          type: string
          enum: [idle, running, repairing, retrying, success, STOP, failure]
        run_id:
          type: [string, "null"]
        receipt_comment_id:
          type: [string, "null"]
        supervisor_for_operation_id:
          type: [string, "null"]
        result_ready:
          type: boolean
        result_published:
          type: boolean
        repair_status:
          type: string
        updated_at:
          type: string
      additionalProperties: true

    WorkflowRun:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        display_title:
          type: string
        status:
          type: string
        conclusion:
          type: [string, "null"]
        event:
          type: string
        run_number:
          type: integer
        html_url:
          type: string
      additionalProperties: true

    JobsResponse:
      type: object
      properties:
        total_count:
          type: integer
        jobs:
          type: array
          items:
            $ref: "#/components/schemas/WorkflowJob"
      additionalProperties: true

    WorkflowJob:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        status:
          type: string
        conclusion:
          type: [string, "null"]
        steps:
          type: array
          items:
            $ref: "#/components/schemas/WorkflowStep"
      additionalProperties: true

    WorkflowStep:
      type: object
      properties:
        name:
          type: string
        status:
          type: string
        conclusion:
          type: [string, "null"]
        number:
          type: integer
      additionalProperties: true

    ArtifactsResponse:
      type: object
      properties:
        total_count:
          type: integer
        artifacts:
          type: array
          items:
            $ref: "#/components/schemas/Artifact"
      additionalProperties: true

    Artifact:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        size_in_bytes:
          type: integer
        expired:
          type: boolean
        archive_download_url:
          type: string
      additionalProperties: true

    ExpertTeamResult:
      type: object
      properties:
        plan_source:
          type: string
        plan:
          type: object
          properties: {}
          additionalProperties: true
        stage_outputs:
          type: object
          properties: {}
          additionalProperties: true
        red_team_output:
          type: [string, "null"]
        final_answer:
          type: [string, "null"]
      additionalProperties: true

    DeepSeekStewardResult:
      type: object
      properties:
        mode:
          type: string
        status:
          type: string
        decision:
          type: string
        diagnosis:
          type: string
        confidence:
          type: number
        guidance:
          type: array
          items:
            type: string
        message_to_web_gpt:
          type: string
        resume:
          type: string
        steward_model:
          type: string
        steward_provider:
          type: string
        repair_application:
          type: object
          properties: {}
          additionalProperties: true
        repair_delivery:
          type: object
          properties: {}
          additionalProperties: true
        supervisor_resume:
          type: object
          properties: {}
          additionalProperties: true
      additionalProperties: true

    AutoRepairResult:
      type: object
      properties:
        mode:
          type: string
        decision:
          type: string
        diagnosis:
          type: string
        confidence:
          type: number
        resume:
          type: string
        steward_model:
          type: string
        steward_provider:
          type: string
        verification:
          type: string
        retry:
          type: object
          properties: {}
          additionalProperties: true
        repair_application:
          type: object
          properties: {}
          additionalProperties: true
        repair_delivery:
          type: object
          properties: {}
          additionalProperties: true
      additionalProperties: true

    OperationMetadata:
      type: object
      properties:
        operation_id:
          type: string
        operation:
          type: string
        steward_mode:
          type: string
        status:
          type: string
        result_file:
          type: string
        readable_result_file:
          type: string
        steward_decision:
          type: string
        steward_resume:
          type: string
        error_type:
          type: string
        error:
          type: string
      additionalProperties: true

  securitySchemes:
    githubBearer:
      type: http
      scheme: bearer
      bearerFormat: GitHub fine-grained personal access token

security:
  - githubBearer: []
