openapi: 3.1.0

info:
  title: test2 Dynamic Expert Team and Automatic DeepSeek Steward Action
  version: 1.4.0
  description: >-
    Web GPT commands user tasks. GitHub runs model intelligence, expert teams, and
    DeepSeek Steward. Control flow uses a small status file keyed by operation_id.
    Run, Job, Step, and Artifact endpoints are audit-only.

servers:
  - url: https://api.github.com

paths:
  /repos/a15280020511/test2/contents/runtime_results/model_intelligence_latest.json:
    get:
      operationId: getOpenRouterModels
      summary: Read latest GPT-sized OpenRouter model intelligence
      description: >-
        Call with ref=runtime-results. On first 404 dispatch model_intelligence, then poll
        getOperationStatus. Retry this read only after status=success and result_ready=true.
      parameters:
        - name: ref
          in: query
          required: true
          schema:
            type: string
            enum: [runtime-results]
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: Bounded model intelligence snapshot for Web GPT planning.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelIntelligenceSnapshot"
        "404":
          description: Snapshot absent; dispatch model_intelligence and use getOperationStatus.

  /repos/a15280020511/test2/contents/execution_plan.schema.json:
    get:
      operationId: getExecutionPlanSchema
      summary: Read authoritative Execution Plan JSON Schema
      description: >-
        Call with ref=main. A true technical read failure triggers DeepSeek REPAIR. Do not
        treat a queued operation-status 404 as a schema failure.
      parameters:
        - name: ref
          in: query
          required: true
          schema:
            type: string
            enum: [main]
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: Raw Execution Plan JSON Schema.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecutionPlanSchemaDocument"

  /repos/a15280020511/test2/contents/DEEPSEEK_STEWARD.md:
    get:
      operationId: getDeepSeekStewardPolicy
      summary: Read DeepSeek Steward operating policy
      description: Read mandatory DeepSeek Steward role, repair, provider, and STOP rules.
      parameters:
        - name: ref
          in: query
          required: true
          schema:
            type: string
            enum: [main]
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: DeepSeek Steward policy document.
          content:
            text/plain:
              schema:
                type: string

  /repos/a15280020511/test2/contents/ACTION_RECOVERY.md:
    get:
      operationId: getActionRecoveryPolicy
      summary: Read mandatory automatic repair and status policy
      description: Read control-plane, automatic repair, retry, and queued-status rules.
      parameters:
        - name: ref
          in: query
          required: true
          schema:
            type: string
            enum: [main]
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: Automatic recovery and control-plane policy.
          content:
            text/plain:
              schema:
                type: string

  /repos/a15280020511/test2/actions/workflows/expert-team-production.yml/dispatches:
    post:
      operationId: dispatchExpertTeamOperation
      summary: Run model intelligence, expert team, or DeepSeek Steward
      description: >-
        Dispatch with a unique operation_id. After HTTP 204, use getOperationStatus only.
        Do not list workflow runs to locate the task. DeepSeek failure is STOP.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ref, inputs]
              properties:
                ref:
                  type: string
                  enum: [main]
                inputs:
                  type: object
                  required: [operation_id, operation]
                  properties:
                    operation_id:
                      type: string
                      description: Unique correlation ID generated by Web GPT.
                    operation:
                      type: string
                      enum: [model_intelligence, execute_team, deepseek_steward]
                    plan_json:
                      type: string
                      default: "{}"
                      description: Stringified Execution Plan JSON for execute_team.
                    ranking_limit:
                      type: string
                      default: "20"
                    steward_mode:
                      type: string
                      enum: [ASSIST, REPAIR]
                      default: ASSIST
                    support_packet_json:
                      type: string
                      default: "{}"
                      description: Stringified Support Packet with available failure evidence.
      responses:
        "204":
          description: Workflow dispatch accepted; start polling getOperationStatus.

  /repos/a15280020511/test2/contents/runtime_results/status/{operation_id}.json:
    get:
      operationId: getOperationStatus
      summary: Read lightweight operation control status
      description: >-
        Primary control-plane read. After accepted dispatch, a temporary 404 means queued or
        not yet started; retry later. Use run_id from this status for optional audit calls.
      parameters:
        - name: operation_id
          in: path
          required: true
          schema:
            type: string
        - name: ref
          in: query
          required: true
          schema:
            type: string
            enum: [runtime-results]
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: Small operation status object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationStatus"
        "404":
          description: After dispatch acceptance, treat as queued or not yet started and retry.

  /repos/a15280020511/test2/actions/runs/{run_id}:
    get:
      operationId: getExpertTeamRun
      summary: Get one workflow run for audit
      description: Audit-only. Obtain run_id from getOperationStatus; do not use run lists for control flow.
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Workflow run details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkflowRun"

  /repos/a15280020511/test2/actions/runs/{run_id}/jobs:
    get:
      operationId: getExpertTeamRunJobs
      summary: Get jobs and steps for audit
      description: Audit-only. Read jobs and step statuses for one known production run.
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Jobs and step statuses.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobsResponse"

  /repos/a15280020511/test2/actions/runs/{run_id}/artifacts:
    get:
      operationId: listExpertTeamRunArtifacts
      summary: List audit artifacts for one known run
      description: Audit-only. Use run_id from getOperationStatus.
      parameters:
        - name: run_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Artifacts for the Run.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArtifactsResponse"

  /repos/a15280020511/test2/contents/runtime_results/{operation_id}/expert_team_result.json:
    get:
      operationId: getExpertTeamResult
      summary: Read final expert-team JSON result
      description: >-
        Read only after getOperationStatus reports status=success and result_ready=true.
        Always pass ref=runtime-results.
      parameters:
        - name: operation_id
          in: path
          required: true
          schema:
            type: string
        - name: ref
          in: query
          required: true
          schema:
            type: string
            enum: [runtime-results]
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: Expert-team execution result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExpertTeamResult"
        "404":
          description: Result is not ready or operation_id is incorrect.

  /repos/a15280020511/test2/contents/runtime_results/{operation_id}/deepseek_steward_result.json:
    get:
      operationId: getDeepSeekStewardResult
      summary: Read DeepSeek Steward ASSIST or REPAIR result
      description: >-
        Read after getOperationStatus reaches a terminal state. If official DeepSeek failed,
        STOP and never use OpenRouter as Steward fallback.
      parameters:
        - name: operation_id
          in: path
          required: true
          schema:
            type: string
        - name: ref
          in: query
          required: true
          schema:
            type: string
            enum: [runtime-results]
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: DeepSeek Steward result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeepSeekStewardResult"
        "404":
          description: Steward result is not ready or operation_id is incorrect.

  /repos/a15280020511/test2/contents/runtime_results/{operation_id}/auto_repair_result.json:
    get:
      operationId: getAutoRepairResult
      summary: Read automatic DeepSeek repair evidence
      description: Read repair evidence after a terminal operation status when auto-repair occurred.
      parameters:
        - name: operation_id
          in: path
          required: true
          schema:
            type: string
        - name: ref
          in: query
          required: true
          schema:
            type: string
            enum: [runtime-results]
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: Automatic repair result and delivery state.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutoRepairResult"
        "404":
          description: No automatic repair evidence exists for this operation.

  /repos/a15280020511/test2/contents/runtime_results/{operation_id}/metadata.json:
    get:
      operationId: getExpertTeamOperationMetadata
      summary: Read published operation metadata
      description: Optional detail read after getOperationStatus reaches a terminal state.
      parameters:
        - name: operation_id
          in: path
          required: true
          schema:
            type: string
        - name: ref
          in: query
          required: true
          schema:
            type: string
            enum: [runtime-results]
        - name: Accept
          in: header
          required: false
          schema:
            type: string
            default: application/vnd.github.raw+json
      responses:
        "200":
          description: Operation metadata.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationMetadata"
        "404":
          description: Metadata is not ready or operation_id is incorrect.

  /repos/a15280020511/test2/actions/artifacts/{artifact_id}/zip:
    get:
      operationId: downloadExpertTeamArtifact
      summary: Download optional audit artifact ZIP
      description: Optional audit evidence. Prefer runtime-result JSON for normal result reading.
      parameters:
        - name: artifact_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Artifact ZIP archive.
          content:
            application/zip:
              schema:
                type: string
                format: binary
        "302":
          description: Redirect to temporary artifact download URL.

components:
  schemas:
    ModelIntelligenceSnapshot:
      type: object
      properties:
        schema_version:
          type: string
        generated_at:
          type: string
        source:
          type: string
        selection_rule:
          type: string
        rankings:
          type: object
          properties: {}
          additionalProperties: true
        models:
          type: object
          properties: {}
          additionalProperties: true
      additionalProperties: true

    ExecutionPlanSchemaDocument:
      type: object
      properties:
        $schema:
          type: string
        $id:
          type: string
        title:
          type: string
        description:
          type: string
        type:
          type: string
        required:
          type: array
          items:
            type: string
        properties:
          type: object
          properties: {}
          additionalProperties: true
      additionalProperties: true

    OperationStatus:
      type: object
      properties:
        schema_version:
          type: string
        operation_id:
          type: string
        operation:
          type: string
        status:
          type: string
          enum: [running, success, STOP, failure]
        run_id:
          type: [string, "null"]
        result_ready:
          type: boolean
        repair_status:
          type: string
        updated_at:
          type: string
      additionalProperties: true

    WorkflowRun:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        display_title:
          type: string
        status:
          type: string
        conclusion:
          type: [string, "null"]
        event:
          type: string
        run_number:
          type: integer
        html_url:
          type: string
      additionalProperties: true

    JobsResponse:
      type: object
      properties:
        total_count:
          type: integer
        jobs:
          type: array
          items:
            $ref: "#/components/schemas/WorkflowJob"
      additionalProperties: true

    WorkflowJob:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        status:
          type: string
        conclusion:
          type: [string, "null"]
        steps:
          type: array
          items:
            $ref: "#/components/schemas/WorkflowStep"
      additionalProperties: true

    WorkflowStep:
      type: object
      properties:
        name:
          type: string
        status:
          type: string
        conclusion:
          type: [string, "null"]
        number:
          type: integer
      additionalProperties: true

    ArtifactsResponse:
      type: object
      properties:
        total_count:
          type: integer
        artifacts:
          type: array
          items:
            $ref: "#/components/schemas/Artifact"
      additionalProperties: true

    Artifact:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        size_in_bytes:
          type: integer
        expired:
          type: boolean
        archive_download_url:
          type: string
      additionalProperties: true

    ExpertTeamResult:
      type: object
      properties:
        plan_source:
          type: string
        plan:
          type: object
          properties: {}
          additionalProperties: true
        stage_outputs:
          type: object
          properties: {}
          additionalProperties: true
        red_team_output:
          type: [string, "null"]
        final_answer:
          type: [string, "null"]
      additionalProperties: true

    DeepSeekStewardResult:
      type: object
      properties:
        mode:
          type: string
        status:
          type: string
        decision:
          type: string
        diagnosis:
          type: string
        confidence:
          type: number
        guidance:
          type: array
          items:
            type: string
        message_to_web_gpt:
          type: string
        resume:
          type: string
        steward_model:
          type: string
        steward_provider:
          type: string
        repair_application:
          type: object
          properties: {}
          additionalProperties: true
        repair_delivery:
          type: object
          properties: {}
          additionalProperties: true
      additionalProperties: true

    AutoRepairResult:
      type: object
      properties:
        mode:
          type: string
        decision:
          type: string
        diagnosis:
          type: string
        confidence:
          type: number
        resume:
          type: string
        steward_model:
          type: string
        steward_provider:
          type: string
        verification:
          type: string
        retry:
          type: object
          properties: {}
          additionalProperties: true
        repair_application:
          type: object
          properties: {}
          additionalProperties: true
        repair_delivery:
          type: object
          properties: {}
          additionalProperties: true
      additionalProperties: true

    OperationMetadata:
      type: object
      properties:
        operation_id:
          type: string
        operation:
          type: string
        steward_mode:
          type: string
        status:
          type: string
        result_file:
          type: string
        readable_result_file:
          type: string
        steward_decision:
          type: string
        steward_resume:
          type: string
        error_type:
          type: string
        error:
          type: string
      additionalProperties: true

  securitySchemes:
    githubBearer:
      type: http
      scheme: bearer
      bearerFormat: GitHub fine-grained personal access token

security:
  - githubBearer: []
